<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">
    <%= f.input :date, :input_html => { :class => 'datepicker' } %>
    <%= f.input :time, :label => 'Time And Duration' %>

    <%= f.input :artist_track, :input_html => { :id => 'artist' },
                :label => 'Select Artist'  %>

    <%= f.input :track, collection: [@event.track], :prompt => "Select the track", input_html: { id: 'track' } %>
    
    <%= f.input :price %>
    <%= f.input :full_description, :input_html =>{:rows => 10, style: 'width: 80%'}  %>
    
    <div class="photo">
      <%= f.file_field :event_image%> 
    </div>
    

    <%= f.submit class: "btn-primary" %>

</div>  
<% end %>