<div class="hero-unit">
  <h2>Welcome To Concerts Share App</h2>
</div>

<fieldset>
  <legend>Next Events</legend><br>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Time</th>
    <th>Artist Name</th>
    <th>Price</th>
    <th>Posted By</th>
    <th>Actions</th>
  </tr> 
  <% c = 1%>  
  <%@events.each do |event|%> 
  <tr>
    <td><%= c%></td>
    <td><%=event.date%></td>
    <td><%=event.time%></td>
    <td><%=event.artist_track%></td>
    <td><%=event.price%></td>
    <td><%=event.user.full_name%></td>
    <td><%=link_to "Show Event", event%>
    <% if current_user == event.user%>
        | <%= link_to 'Edit', edit_event_path(event), class: "btn-link" %>
        | <%= link_to 'Destroy', event_path(event), method: :delete, data:{confirm: "Are you sure your want to delete this event?"}, class: "btn-link" %>
    <%end%>

    </td>

  </tr>
  <% c = c + 1%>
  <% end %>

</table>

</fieldset>
<%if user_session%>
  <br><%= link_to "New Event", new_event_path, class: "btn btn-success" %>
<%else%> 
  <p><%=link_to "Registrer", register_path, class: "btn"%>
  <%=link_to "Log in", login_path, class: "btn btn-success"%></p>
<%end%>
