<!DOCTYPE html>
<html>
<head>
  <title>Concerts Share</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <%= csrf_meta_tags %>
<script>
  SC.initialize({
    client_id: '5ba473964263fd02eec8f08732b65d4f'
    }); 
</script>
</head>
<body>
<div class= "navbar navbar-fixed-top" >
      <div class="navbar-inner">
        <div class "contaniner">
          <a <%=link_to "Concerts Share" , events_path, class: "brand" %>
          <ul class="nav">
            <li><%=link_to "All Events" , events_path %></li>
          
          <%if user_signed_in? %>
            <li><%=link_to "Follow Events", follow_events_path%> </li>
            <li><%=link_to "New Event", new_event_path%> </li>
          <%end%>
          </ul>
            <%if user_signed_in? %>
            <ul class = "nav pull-right">
              
              <li><%=link_to current_user.full_name, edit_user_path(current_user.full_name)%> </li>
              <li><%=link_to "Log Out", logout_path%></li>
            </ul>
          <%else%>
            <ul class = "nav pull-right">
              <li><%=link_to "Registrer", register_path%> </li>
              <li><%=link_to "Sign In", login_path%> </li>
              </ul>
          <%end%>
          
        </div>
      </div>
    </div>

    <footer class= "navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a href="http://www.koombea.com" class ="brand">&copy; Koombea 2012</a> 
        </div>
      </div>
    </footer>

    <div class="contaniner">
      <%if notice%>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p class="notice"><%= notice %></p> 
        </div>
      <%end%>
      <%if alert%>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p><%= alert %></p>
        </div>
      <%end%>
    </div>

    <div id="yield" class="container">
      <%= yield %>
    </div>
</body>
</html>